<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suit">
    <test verbose="2" preserve-order="true" name="Test">
        <groups>

            <run>

              <!-- <include name="smokeTest"/>  - It runs/includes tests with matching group name-->
               <include name="test1"/> <!-- It runs/includes tests with matching group name-->

                <!--   <exclude name="smokeTest"/> It  does Not run/includes tests with matching group name-->

                <exclude name="smokeTest2"/>

            </run>

        </groups>

        <packages>

            <package name="com.ucode_academy.*"/>

        </packages>


    </test>

<!--    If you want to add any listeners in this directly -->
<!--    <listeners>-->
<!--        <listener class-name="org.testng.reporters.EmailableReporter2"/>-->
<!--        <listener class-name="org.testng.reporters.FailedReporter"/>-->
<!--    </listeners>-->
</suite>