<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="methods" thread-count="1">
    <test verbose="2" preserve-order="true" name="Test">
        <groups>

            <run>

                <exclude name="smokeTest"/>
                <exclude name="smokeTest2"/>

                <exclude name="dailyTest"/>

                <include name="test1"/>

            </run>

        </groups>

        <packages>

            <package name="com.ucode_academy.*"/>

        </packages>


    </test>
</suite>